<div class="input-group m-t-20">

  <span class="input-group-btn">
    <button 
    class="btn"
    type="button"
    [ngClass]="btnMinus"
    (click)="updateValue(-5)">
      <i class="fa fa-minus"></i>
    </button>
  </span>

  <input
  type="number"
  class="form-control"
  placeholder="Product name"
  [(ngModel)]="progress"
  (ngModelChange)="onChange($event)"
  max="100"
  min="0">

  <span class="input-group-btn">
    <button
    class="btn"
    [ngClass]="btnPlus"
    type="button"
    (click)="updateValue(5)">
      <i class="fa fa-plus"></i>
    </button>
  </span>

</div>
